/* General parameters */
* {
  padding: 0;
  margin: 0;
}

*::selection {
  background: #000101;
  color: #fefeff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans" sans-serif;
  background: #000101;
  color: #fefeff;
  transition: 0.7s ease-in-out;
}

h2 {
  font-size: calc(3rem + 5vw);
  text-align: center;
  color: rgb(217, 217, 217);
  font-family: "Work Sans" sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}

.title {
  font-size: calc(1.5rem + 5vw);
  letter-spacing: 0;
}

span {
  display: inline-block;
}

a,
a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fefeff;
  transition: 0.1s linear;
  font-size: calc(0.8rem + 0.8vw);
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #fefeff;
  height: 1px;
  bottom: -4px;
  left: 0;
}

a:hover {
  transform: scale(1.04);
  color: rgb(217, 217, 217);
}

a:hover::after {
  animation: animLink 1.4s infinite ease-in-out;
}

/* Parameters in order of appearance */
